/* MODAL */
#contact_modal {
    position: fixed;
    inset:0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* background-color: rgba(var(--main-color-rgb), .4); */
    animation: backgroundModal .25s ease-in-out forwards;
    transition: all .1s ease-in-out;
}

.modal {
    display: flex;
    width: 30%;
    min-height: 50dvh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1.5rem;
    padding: 1.5rem;
    border-radius: var(--radius);
    background-color: var(--third-color);
    transition: var(--regTransi);
    animation: modalOpening var(--modal-display-duration) ease-in-out forwards;
}

.modal header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: start;
    line-height: 1;
}

.modal-closer {
    cursor: pointer;
}

.modal-closer:hover {
    transform: rotate(180deg);
}


.modal-title {
    display: flex;
    flex-direction: column;
    margin-block:0;
    font-size: 3rem;
    font-weight: normal;
    text-align: left;
}

.modal-photographer-name{
    color:var(--white-color);
    font-weight: bolder;
}

#contact_modal .modal-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 1.85rem;
}

form .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: .8rem;
}

form input {
    height: 60px;
    padding:.5rem 1rem;
    font-size:1.2rem;
    color:var(--black-color);
    border: none;
    border-radius:var(--radius);
    font-weight:bolder;
}

form input::placeholder {
    font-size:1.1rem;
    color:var(--grey-dark);
}

form textarea {
    height:120px;
    padding:.5rem 1rem;
    font-size:1.2rem;
    color:var(--black-color);
    font-weight:bolder;
    border: none;
    border-radius:var(--radius);
    resize: none;
}


/* Keyframes */
@keyframes backgroundModal {

    from {
        background:none;
    }

    to {
        background-color: rgba(0,0,0,.4);
        backdrop-filter: blur(5px);
    }

}

@keyframes modalOpening{
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to  {
        opacity: 1;
    }
}