#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 300px; */
    padding: 2rem;
    background-color: var(--photographer-header-bg);
}

.header-left{
    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    position: relative;
    overflow: hidden;
}

.header-right::after{
    --op:0;
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    opacity:0;
    font-size:1.25rem;
    color:var(--white-color);
    background: rgba( 211, 87, 60,var(--op));
    clip-path: circle(50% at center);
    transition: var(--regTransi);
}

.photograph-header .header-right:hover::after{
    --op:.75;
    opacity:1;
}

.photographer_media {
    --gap:70px;
    --nbCol:3;
    display: grid;
    grid-template-columns: repeat(var(--nbCol),1fr);
    gap: var(--gap);
    align-items: start;
    margin-top: 8vh;
}

.card-media-photographer {
    width: 320px;
    padding: 1rem;
    font-size:1.2rem;
    color:var(--black-color);
    border-radius: var(--radius);
    border:2px solid var(--second-color);
    text-decoration: none;
    position: relative;
}

.card-media-photographer:hover,
.card-media-photographer:focus {
    transform: translateY(-6px);
    box-shadow:3px 3px 9px rgba(0,0,0,.15);
}

.photographer-media-title {
    margin-block:0;
    text-align: center;
}

.photographer-media-date {
    margin-block:.6rem;
    font-size:.85rem;
}

.photographer-media-pricing {
    margin-block: .95rem;
    font-size: 1rem;
    color: var(--pricing-color);
  }

.photographer-media-likes {
    display: block;
    padding:.35rem;
    position:absolute;
    bottom: -20px;
    left:50%;
    transform: translateX(-50%);
    background: var(--second-color);
    color:var(--white-color);
    border-radius: var(--radius);
    font-size:1rem;
}


/* MODAL */

.contact_button {
    height: 70px;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--main-color);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 2rem;
    border-radius: var(--radius);
    background-color: var(--second-color);
}

.modal header {
    width: 100%;
    justify-content: space-between;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius:var(--radius);
}