
.photographer{
    --main-color-rgb:144, 28, 28;
    --second-color-rgb:211, 87, 60;
    --modal-display-duration: .55s;
}

.photographer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 300px; */
    padding: 2rem 0;
    background-color: var(--photographer-header-bg);
}

.header-left{
    display: flex;
    flex-direction: column;
}

.header-right{
    display: flex;
    position: relative;
    overflow: hidden;
}

.header-right::after{
    --op:0;
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    opacity:0;
    font-size:1.45rem;
    color:var(--black-color);
    background: rgba( 211, 87, 60,var(--op));
    clip-path: circle(50% at center);
    transition: var(--regTransi);
}

.photographer_header .header-right:hover::after,
.photographer_header .header-right:focus::after{
    --op:.7;
    opacity:1;
}

.photographer .photographer-name {
    font-size:4rem;
}

.photographer .photographer-city {
    font-size: 1.5rem;
}

.photographer .photographer-tagline {
    font-size:1.25rem;
    color:var(--grey-dark);
}

.photographer_media {
    --gap:70px;
    --nbCol:3;
    display: grid;
    grid-template-columns: repeat(var(--nbCol),1fr);
    gap: var(--gap);
    align-items: start;
    margin-top: 8vh;
}

.card-media-photographer {
    width: 350px;
    font-size:1.2rem;
    color:var(--black-color);
    text-decoration: none;
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.card-media-photographer:hover,
.card-media-photographer:focus {
    transform: translateY(-6px);
    box-shadow:3px 3px 9px rgba(0,0,0,.15);
}


.photographer-media-date {
    margin-block:.6rem;
    font-size:.85rem;
}

.photographer-media-assets {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--radius);
    background:var(--main-color);
    color:var(--white-color);
}

.photographer-media-pricing {
    margin-block: .95rem;
    font-size: 1rem;
    color: var(--pricing-color);
  }

.photographer-media-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:.55rem;
}

.photographer-media-title {
    margin-block:0;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--main-color);
}


.photographer-media-likes {
    font-size:1rem; 
}
.photographer-media-likes > i.fa-heart {
    color:var(--main-color);
}

.photographer_more {
    --gap:1.2rem;
    position: fixed;
    bottom:-5px;
    right:4dvw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--gap);
    padding:.5rem;
    font-size:1.25rem;
    font-weight:500;
    background:var(--third-color);
    border-radius: var(--radius);
    color:var(--black-color);
}


.photographer_more .photographer-pricing {
    margin-block:0;
    font-size:1.25rem;
    color:var(--black-color);
}



#type-media-choice {
    width: 150px;
    padding: .45rem;
    font-size:1rem;
    color: var(--white-color);
    border-radius: var(--radius);
    background: var(--main-color);
    border: none;
}

#type-media-choice > option {
    color: var(--white-color);
    padding: .6rem;
}

#type-media-choice > option[selected] {

    background:blue;
}


.filter-title {
    margin-right:1.3rem;
    font-size:1.1rem;
    font-weight:600;
    color:var(--black-color);
}


/* MEDQUER */

@media all and (max-width:1050px){

    body {
    --layout:"Reg-Desk";
    }

    .photographer_media {
        --gap:5dvw;
        --nbCol:2;
    }

}

@media all and (max-width:960px) {

    body{
        --layout:"Tab";
    }
    
    .photographer_header {
        flex-flow: column wrap;
        gap: 3dvh;
    }

    .header-left {
        order:2;
    }

    .header-middle{
        order:3;
    }

    .header-right {
        order:1;
    }


    .photographer_more {
        padding:.25rem;
        font-size:1.1rem;
    }

    .photographer_pricing {
        font-size: 1rem;
    }


    .photographer_filter {
        --gap:.45rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:var(--gap);
        margin-block: 3dvh;
    }

    #type-media-choice {
        width:50%;
        text-align: center;
    }

}

@media all and (max-width:730px) {

    body{
        --layout:"Mobile";
    }

    .photographer_media {
        --nbCol:1;
    }
}