@import url("photographer.css");
@import url("media-modal.css");
@import url("contact-modal.css");

:root {

--main-color:#901C1C;
--second-color:#D3573C;
--third-color:#DB8876;
--pricing-color:#757575;
--grey-dark:#525252;
--photographer-header-bg:#FAFAFA;
--black-color:#000;
--white-color:#FFF;

--body-font-family:"DM Sans", sans-serif;
--body-font-size:1rem;
--body-font-weight:400;
--title-font-family:"DM Sans", sans-serif;
--title-font-size:1rem;

--radius:5px;
--regTransi:all .26s ease-in-out;
}


body {
    --layout:"Desk";
    --skeleton:1300px;
    font-family:var(--body-font-family);
    font-weight:var(--body-font-weight);
    margin: 0;
    padding-bottom:2rem;
    box-sizing: border-box;
}

.wrapper {
    max-width: var(--skeleton);
    margin:0 auto;
}

.debeug {
    outline:4px dotted #FF00FF;
}

.links{
    cursor: pointer;
}

.cta-button {
    width: fit-content;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    border: none;
    border-radius: var(--radius);
    background-color: var(--main-color);
    transition: var(--regTransi);
    cursor: pointer;
}

.cta-button:hover,
.cta-button:focus {
    color: var(--black-color);
    background-color: var(--third-color);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}


.main-title {
    padding-inline:.45rem;
    font-size:2.25rem;
    color: var(--main-color);
    transition: var(--regTransi);
    position: relative;
}

.main-title::after{
    --offset:0%;
    content:'';
    display: block;
    width: 0;
    height:100%;
    position: absolute;
    left:0;
    bottom:var(--offset);
    z-index: -1;
    border-radius: var(--radius);
    background:var(--main-color);
    transition: var(--regTransi);
    
}

.main-title:hover,
.main-title:focus {
    color:var(--white-color);
}

.main-title:hover::after,
.main-title:focus::after {
    width:100%;
}

.logo {
    height: 50px;
}

.photographer_section {
    --gap:70px;
    --nbCol:3;
    display: grid;
    grid-template-columns: repeat(var(--nbCol),1fr);
    /* grid-template-areas:
    "a b c" "d e f"; */
    gap: var(--gap);
    align-items: start;
    margin-top: 8vh;
    /* outline: 1px solid black; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    transition: var(--regTransi);
}

.card-photographer{
    width: 320px;
    padding: 1rem;
    font-size:1.2rem;
    color:var(--white-color);
    border-radius: var(--radius);
    text-decoration: none;
}

.card-photographer:hover,
.card-photographer:focus {
    transform: translateY(-6px);
    box-shadow:3px 3px 9px rgba(0,0,0,.15);
}


.photographer-name{
    margin-block:.55rem;
    color:var(--second-color);
    font-size:2.2rem;
}

.photographer-tagline {
    margin-block: .5rem;
    color: var(--black-color);
    font-size: .95rem;
}

.photographer-city {
    font-size: 1.1rem;
    color: var(--main-color);
    text-decoration: none;
}

.photographer-pricing {
    margin-block:.95rem;
    font-size:.95rem;
    color:var(--pricing-color);
}

 .photographer-thumbnail {
    width: 220px;
    height: 220px;
    background:var(--white-color);
    background-size: cover;
    /* clip-path: polygon(0% 25%,33% 25%,33% 0%, 66% 0%,66% 25%,100% 25%,100% 100%,0% 100%); */
    clip-path: circle(50% at center);
}



/* MEDQUER */
@media all and (max-width:960px){

    body {
        --skeleton:100%;
        margin-inline:.85rem;
    }

}

@media all and (max-width:1050px){

    body {
    --layout:"Reg-Desk";
    }

    .main-title {
        font-size: 1.85rem;
    }

    .photographer_section {
        --gap:5dvw;
        --nbCol:2;
    }

}